.column {
  float: left;
  width: 33.33%;
}
.row {
  float: right;
  width: 33.33%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.grid-container {
  grid-row-gap: 50px;
}
